body {
    background-color: #FFFEFA;
    margin: 0;
    padding: 0;
}

button {
    padding: 1vh;
    margin-bottom: 2vh;
}

/* global scope */

.jumbotron {
    margin-bottom: 0;
}

/* Main image */

#menu-logo {
    height: 3rem;
    width: auto;
}

.flag {
    width: 24px;
    height: 24px;
}

.navbar-toggler-icon {
    color: #f9d76f;
}

.bg-dark {
background-color: #2b3450 !important;
}

.col-12 {
    padding: 0;
}

.dropdown-menu {
    width: 100%;
    height: 100vh;
    text-align: center;
    margin-top: 1px;
    background-color: #2b3450;
    border: 0;
    opacity: 0.9;
}

.navContent {
    color: #f9d76f;
    margin-top: 2rem;
    
}

.navContent a {
    color: #f9d76f;
    margin-bottom: 8px;
    opacity: none;
}

#meny-tittle {
    font-size: 2.25rem;
    padding-bottom: 25px;
}

#logoNav {
    width: 93px;
    height: auto;
}

.navbar-dark .navbar-toggler {
    border-color: #f9d76f;
}

.navbar-dark .navbar-toggler:hover {
    border-color: #f5e5b6;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(249,215,111, 4)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(245,229,182, 4)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#navbar-2 {
    position: absolute;
    right: 12vh;
    display: inline;
}

#navbar-2 li {
    display: inline;
    padding: 0 10px;
    color: #f9d76f;
}

#navbar-2 a {
    color: #f9d76f;
}

#navbar-2 a:hover {
    color: #f5e5b6;
}

/* Nav end */

#viteMer { 
    display: flex;
    flex-direction: column;
}

#viteMerText { 
    display: inline;
    justify-content: space-evenly;
}

#viteMerImage img { 
    background-size: cover;
    max-width:100%;
    max-height:100%;
}

/* ViteMer mobil end */

@media (min-width: 576px) { 
    #viteMer {
       display: flex;
    }
    #viteMerImage img {
        display: flex;
        background-repeat: no-repeat;
        max-width:100%;
        max-height:100%;
    }
    #viteMerText {
        display: block;
        margin-top: 1em;
    }
}

/* ViteMer Tablet end */

@media (min-width: 992px) { 
    #viteMer {
        flex-direction: row;
    }
    #viteMerImage img{
        padding-left: 1%;
        max-width:100%;
        max-height:100%;       
    }
    #viteMerText {
        display: block;
        max-width: 50%;
        margin-top: 2em;
    }
}

/* ViteMer Desktop end */
/* Section 1 end */

#byggeNoe { 
    flex-direction: column;
}

#byggeNoeImage img{ 
    background-size: cover;
    max-width:100%;
    max-height:100%;
}

#byggeNoeText { 
    display: inline;
    justify-content: space-evenly;
}

/* ByggNoe Mobil end */

@media (min-width: 576px) {
    #byggeNoe {
       flex-direction: row-reverse;
    }
    #byggeNoeImage img{
        background-repeat: no-repeat;
        background-size: cover;
        max-width:100%;
        max-height:100%;
    }
    #byggeNoeText {
        display: block;
        margin-top: 1em;
        max-width: 50%;
    }
}

/* ByggNoe Tablet end */

@media (min-width: 992px) { 
    #byggeNoeImage img{
        padding-left: 1%;
        max-width:100%;
        max-height:100%;
    }
    #byggeNoeText {
        display: block;
        margin-left: 1em;
        margin-top: 3em;
        max-width: 58%;
    }
}

/* ByggNoe Desktop end */
/* Section 2 end */

.t-img { /* Mobil + */
    max-width: 19%;
}

@media (min-width: 576px) { /* Tablet + */
    .t-img {
        max-width: 15%;
    }
}



/* Testimonials image end */

.carousel-item {
    text-align: center;
}

.carousel-text-title {
    margin-top: 5%;
    margin-bottom: 5%;
}

.carousel-text-content {
    
}

.carousel-inner {
    align-content: center;
    margin-right: 0;
}

/* Testimonials end */